### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(1)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635

In [2]:
#number of schools
number_of_schools = len(school_data_complete['school_name'].unique())
number_of_schools

15

In [3]:
#total number of students
total_number_of_students = school_data_complete['student_name'].count()
#39170

In [4]:
#Total Budget
total_district_budget = school_data['budget'].sum()
#24649428

In [5]:
#Average Math Score
average_district_math_score = school_data_complete['math_score'].mean()

In [6]:
#Average Reading Score
average_district_reading_score = school_data_complete['reading_score'].mean()

In [7]:
students_pass_math_df = school_data_complete[(school_data_complete['math_score']>=70)].count()["student_name"]

passing_math_percentage = students_pass_math_df/float(total_number_of_students)*100
passing_math_percentage

74.9808526933878

In [8]:
students_pass_reading = school_data_complete[school_data_complete['reading_score']>=70].count()['student_name']

passing_reading_percentage = students_pass_reading/float(total_number_of_students)*100
passing_reading_percentage

85.80546336482001

In [9]:
#% passing both -> Group By Function NOPE -> conditional AND df['A'] & df[B] 
students_pass_math_reading = school_data_complete[(school_data_complete['math_score']>=70) & (school_data_complete['reading_score']>=70)].count()['student_name']
#25528

passing_math_reading_percentage = students_pass_math_reading/float(total_number_of_students)*100
passing_math_reading_percentage

65.17232575950983

In [10]:
district_summary_df = pd.DataFrame({'Total Schools': [number_of_schools], 'Total Students':[total_number_of_students],
                                          'Total Budget':[total_district_budget], 'Average Math Score':[average_district_math_score],
                                           'Average Reading Score': [average_district_reading_score],'% Passing Math': passing_math_percentage,
                                             '% Passing Reading': passing_reading_percentage, '% Passing Both Math & Reading':passing_math_reading_percentage })
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Both Math & Reading
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [11]:
school_grouped = school_data_complete.groupby(["school_name"])
school_grouped

In [12]:
school_name = school_data_complete['school_name'].unique()
school_name

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [13]:
type = school_grouped['type']

In [14]:
total_students_per_school = school_grouped['student_name'].count()

In [15]:
total_school_budget = school_grouped['budget'].mean()

In [16]:
budget_per_student = total_school_budget/total_students_per_school

In [17]:
average_math_per_school = school_grouped['math_score'].mean()

In [18]:
average_reading_per_school = school_grouped['reading_score'].mean()

In [21]:
school_summary = pd.DataFrame({'School Name': school_name, 'Type': type,
                              'Total Students': total_students_per_school,
                              'Total School Budget': total_school_budget,
                              'Per Student Budget':budget_per_student,
                              'Average Math Score':average_math_per_school,
                              'Average Reading Scrore':average_reading_per_school,
                              })
school_summary

,School Name,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Scrore
school_name,,,,,,,
Bailey High School,Huang High School,"(Bailey High School, [District, District, Dist...",4976,3124928,628.0,77.048432,81.033963
Cabrera High School,Figueroa High School,"(Cabrera High School, [Charter, Charter, Chart...",1858,1081356,582.0,83.061895,83.975780
Figueroa High School,Shelton High School,"(Figueroa High School, [District, District, Di...",2949,1884411,639.0,76.711767,81.158020
Ford High School,Hernandez High School,"(Ford High School, [District, District, Distri...",2739,1763916,644.0,77.102592,80.746258
Griffin High School,Griffin High School,"(Griffin High School, [Charter, Charter, Chart...",1468,917500,625.0,83.351499,83.816757
Hernandez High School,Wilson High School,"(Hernandez High School, [District, District, D...",4635,3022020,652.0,77.289752,80.934412
Holden High School,Cabrera High School,"(Holden High School, [Charter, Charter, Charte...",427,248087,581.0,83.803279,83.814988
Huang High School,Bailey High School,"(Huang High School, [District, District, Distr...",2917,1910635,655.0,76.629414,81.182722
Johnson High School,Holden High School,"(Johnson High School, [District, District, Dis...",4761,3094650,650.0,77.072464,80.966394
Pena High School,Pena High School,"(Pena High School, [Charter, Charter, Charter,...",962,585858,609.0,83.839917,84.044699
Rodriguez High School,Wright High School,"(Rodriguez High School, [District, District, D...",3999,2547363,637.0,76.842711,80.744686
Shelton High School,Rodriguez High School,"(Shelton High School, [Charter, Charter, Chart...",1761,1056600,600.0,83.359455,83.725724
Thomas High School,Johnson High School,"(Thomas High School, [Charter, Charter, Charte...",1635,1043130,638.0,83.418349,83.848930
Wilson High School,Ford High School,"(Wilson High School, [Charter, Charter, Charte...",2283,1319574,578.0,83.274201,83.989488
Wright High School,Thomas High School,"(Wright High School, [Charter, Charter, Charte...",1800,1049400,583.0,83.682222,83.955000

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type