### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
school_data_complete = school_data_complete.copy()

In [3]:
#number of schools
number_of_schools = len(school_data_complete['school_name'].unique())
number_of_schools

15

In [4]:
#total number of students
total_number_of_students = school_data_complete['student_name'].count()
#39170

In [5]:
#Total Budget
total_district_budget = school_data['budget'].sum()
#24649428

In [6]:
#Average Math Score
average_district_math_score = school_data_complete['math_score'].mean()

In [7]:
#Average Reading Score
average_district_reading_score = school_data_complete['reading_score'].mean()

In [8]:
total_students_pass_math = school_data_complete.loc[(school_data_complete['math_score']>=70)].count()["student_name"]
total_students_pass_math

29370

In [9]:
passing_math_percentage = total_students_pass_math/float(total_number_of_students)*100
passing_math_percentage

74.9808526933878

In [10]:
students_pass_reading = school_data_complete[school_data_complete['reading_score']>=70].count()['student_name']

passing_reading_percentage = students_pass_reading/float(total_number_of_students)*100
passing_reading_percentage

85.80546336482001

In [11]:
#% passing both -> Group By Function NOPE -> conditional AND df['A'] & df[B] 
students_pass_math_reading = school_data_complete[(school_data_complete['math_score']>=70) & (school_data_complete['reading_score']>=70)].count()['student_name']
#25528
passing_math_reading_percentage = students_pass_math_reading/float(total_number_of_students)*100
passing_math_reading_percentage

65.17232575950983

In [12]:
district_summary_df = pd.DataFrame({'Total Schools': [number_of_schools], 'Total Students':[total_number_of_students],
                                          'Total Budget':[total_district_budget], 'Average Math Score':[average_district_math_score],
                                           'Average Reading Score': [average_district_reading_score],'% Passing Math': passing_math_percentage,
                                             '% Passing Reading': passing_reading_percentage, '% Passing Both Math & Reading':passing_math_reading_percentage })
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Both Math & Reading
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [13]:
schools_grouped = school_data_complete.groupby(['school_name'])
schools_grouped.count()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [14]:
number_of_students_per_school = schools_grouped['Student ID'].count()
number_of_students_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [15]:
average_math_score_per_school = schools_grouped['math_score'].mean()
average_math_score_per_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [16]:
average_reading_score_per_school = schools_grouped['reading_score'].mean()
average_reading_score_per_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [17]:
budget_per_student_per_school = schools_grouped['budget'].mean()/schools_grouped['student_name'].count()
budget_per_student_per_school

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [18]:
stu_pass_math = school_data_complete.loc[(school_data_complete['math_score']>=70)]
stu_pass_math.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [19]:
stu_pass_math_per_school = stu_pass_math.groupby('school_name')
stu_pass_math_per_school = stu_pass_math_per_school['Student ID'].count()
perct_stu_pass_math_per_school = (stu_pass_math_per_school/number_of_students_per_school)*100
perct_stu_pass_math_per_school.round(2)

school_name
Bailey High School       66.68
Cabrera High School      94.13
Figueroa High School     65.99
Ford High School         68.31
Griffin High School      93.39
Hernandez High School    66.75
Holden High School       92.51
Huang High School        65.68
Johnson High School      66.06
Pena High School         94.59
Rodriguez High School    66.37
Shelton High School      93.87
Thomas High School       93.27
Wilson High School       93.87
Wright High School       93.33
Name: Student ID, dtype: float64

In [20]:
stu_pass_reading = school_data_complete[school_data_complete['reading_score']>=70]
stu_pass_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [36]:
stu_pass_reading_per_school = stu_pass_reading.groupby('school_name')
stu_pass_reading_per_school = stu_pass_reading_per_school['Student ID'].count()
stu_pass_reading_per_school = (stu_pass_reading_per_school/number_of_students_per_school )*100
stu_pass_reading_per_school.round(2)

school_name
Bailey High School       81.93
Cabrera High School      97.04
Figueroa High School     80.74
Ford High School         79.30
Griffin High School      97.14
Hernandez High School    80.86
Holden High School       96.25
Huang High School        81.32
Johnson High School      81.22
Pena High School         95.95
Rodriguez High School    80.22
Shelton High School      95.85
Thomas High School       97.31
Wilson High School       96.54
Wright High School       96.61
Name: Student ID, dtype: float64

In [37]:
stu_pass_math_read_per_school = school_data_complete[(school_data_complete['math_score']>=70) & (school_data_complete['reading_score']>=70)]
stu_pass_math_read_per_school = stu_pass_math_read_per_school.groupby('school_name')
stu_pass_math_read_per_school = stu_pass_math_read_per_school['Student ID'].count()
perct_stu_pass_math_read_per_school = (stu_pass_math_read_per_school / number_of_students_per_school) * 100
perct_stu_pass_math_read_per_school.round(2)

school_name
Bailey High School       54.64
Cabrera High School      91.33
Figueroa High School     53.20
Ford High School         54.29
Griffin High School      90.60
Hernandez High School    53.53
Holden High School       89.23
Huang High School        53.51
Johnson High School      53.54
Pena High School         90.54
Rodriguez High School    52.99
Shelton High School      89.89
Thomas High School       90.95
Wilson High School       90.58
Wright High School       90.33
Name: Student ID, dtype: float64

In [43]:
schools_type_grouped = school_data_complete.groupby(['school_name','type'])
schools_type_grouped.reset_index()

AttributeError: 'DataFrameGroupBy' object has no attribute 'reset_index'

In [34]:
reindex_school = schools_grouped.count().reset_index()
reindex_school

,school_name,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
0,Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
1,Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
2,Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
3,Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
4,Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
5,Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
6,Holden High School,427,427,427,427,427,427,427,427,427,427
7,Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
8,Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
9,Pena High School,962,962,962,962,962,962,962,962,962,962
10,Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
11,Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
12,Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
13,Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
14,Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [35]:
school_summary_df = pd.DataFrame({'School Name': reindex_school['school_name'], "Type": types_schools })
school_summary_df

TypeError: object of type 'int' has no len()

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type