### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
copy_of_original_df = school_data_complete

In [3]:
#number of schools
number_of_schools = len(school_data_complete['school_name'].unique())
number_of_schools

15

In [4]:
#total number of students
total_number_of_students = school_data_complete['student_name'].count()
#39170

In [5]:
#Total Budget
total_district_budget = school_data['budget'].sum()
#24649428

In [6]:
#Average Math Score
average_district_math_score = school_data_complete['math_score'].mean()

In [7]:
#Average Reading Score
average_district_reading_score = school_data_complete['reading_score'].mean()

In [8]:
total_students_pass_math = school_data_complete.loc[(school_data_complete['math_score']>=70)].count()["student_name"]
total_students_pass_math

29370

In [9]:
passing_math_percentage = total_students_pass_math/float(total_number_of_students)*100
passing_math_percentage

74.9808526933878

In [10]:
students_pass_reading = school_data_complete[school_data_complete['reading_score']>=70].count()['student_name']

passing_reading_percentage = students_pass_reading/float(total_number_of_students)*100
passing_reading_percentage

85.80546336482001

In [11]:
#% passing both -> Group By Function NOPE -> conditional AND df['A'] & df[B] 
students_pass_math_reading = school_data_complete[(school_data_complete['math_score']>=70) & (school_data_complete['reading_score']>=70)].count()['student_name']
#25528
passing_math_reading_percentage = students_pass_math_reading/float(total_number_of_students)*100
passing_math_reading_percentage

65.17232575950983

In [12]:
district_summary_df = pd.DataFrame({'Total Schools': [number_of_schools], 'Total Students':[total_number_of_students],
                                          'Total Budget':[total_district_budget], 'Average Math Score':[average_district_math_score],
                                           'Average Reading Score': [average_district_reading_score],'% Passing Math': passing_math_percentage,
                                             '% Passing Reading': passing_reading_percentage, '% Passing Both Math & Reading':passing_math_reading_percentage })
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Both Math & Reading
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [13]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [14]:
school_data_complete = school_data_complete[['School ID', 'student_name', 'type','Student ID', 'student_name', 'gender', 'grade',
       'reading_score', 'math_score',  'size', 'budget']]

In [15]:
names_of_schools = school_data_complete['School ID'].unique()
names_of_schools

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14],
      dtype=int64)

In [19]:
total_students_per_school = school_data_complete['Student ID'].count()['School ID']
total_students_per_school

IndexError: invalid index to scalar variable.

In [17]:
school_summary = pd.DataFrame({"School Names": names_of_schools})
school_summary

    School Names
0              0
1              1
2              2
3              3
4              4
5              5
6              6
7              7
8              8
9              9
10            10
11            11
12            12
13            13
14            14

In [18]:
# 'Total Students': total_students_per_school,
#                               'Total School Budget': total_school_budget,
#                               'Per Student Budget':budget_per_student,
#                               'Average Math Score':average_math_per_school,
#                               'Average Reading Scrore':average_reading_per_school,
#                                '% Pass Math': total_students_pass_math_grouped_per_school

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type