### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
school_data_complete = school_data_complete.copy()

In [3]:
#number of schools
number_of_schools = len(school_data_complete['school_name'].unique())
number_of_schools

15

In [4]:
#total number of students
total_number_of_students = school_data_complete['student_name'].count()
#39170

In [5]:
#Total Budget
total_district_budget = school_data['budget'].sum()
#24649428

In [6]:
#Average Math Score
average_district_math_score = school_data_complete['math_score'].mean()

In [7]:
#Average Reading Score
average_district_reading_score = school_data_complete['reading_score'].mean()

In [8]:
total_students_pass_math = school_data_complete.loc[(school_data_complete['math_score']>=70)].count()["student_name"]
total_students_pass_math

29370

In [9]:
passing_math_percentage = total_students_pass_math/float(total_number_of_students)*100
passing_math_percentage

74.9808526933878

In [10]:
students_pass_reading = school_data_complete[school_data_complete['reading_score']>=70].count()['student_name']

passing_reading_percentage = students_pass_reading/float(total_number_of_students)*100
passing_reading_percentage

85.80546336482001

In [11]:
#% passing both -> Group By Function NOPE -> conditional AND df['A'] & df[B] 
students_pass_math_reading = school_data_complete[(school_data_complete['math_score']>=70) & (school_data_complete['reading_score']>=70)].count()['student_name']
#25528
passing_math_reading_percentage = students_pass_math_reading/float(total_number_of_students)*100
passing_math_reading_percentage

65.17232575950983

In [12]:
district_summary_df = pd.DataFrame({'Total Schools': [number_of_schools], 'Total Students':[total_number_of_students],
                                          'Total Budget':[total_district_budget], 'Average Math Score':[average_district_math_score],
                                           'Average Reading Score': [average_district_reading_score],'% Passing Math': passing_math_percentage,
                                             '% Passing Reading': passing_reading_percentage, '% Passing Both Math & Reading':passing_math_reading_percentage })
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Both Math & Reading
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [13]:
#school_grouped = school_data_complete.groupby(['school_name'])

In [14]:
# total_students_per_school = school_grouped['School ID'].count()
# total_students_per_school

In [15]:
# total_school_budget = school_grouped['budget'].mean()
# total_school_budget

In [16]:
# budget_student_per_school = total_school_budget / total_students_per_school
# budget_student_per_school

In [17]:
# math_average_school = school_grouped['math_score'].mean()
# math_average_school

In [18]:
# reading_average_school = school_grouped['reading_score'].mean()
# reading_average_school

In [19]:
# I dont understand how to group the number of students passing divided by the total number of students per school * 100. 
# once I starting using DataFrames I got got stuck.  Went cak to original DataFrame and tried indexing school name but
#could not get to work.  So I am back at the grouped by. And leaving off informaiton to push forward with other 
#parts of project

In [20]:
# school_type = school_grouped['type'].unique()
#school_type = school_grouped['type']
#school_type = school_data_complete.set_index(['school_name'])['type']

In [21]:
#students_pass_math_school = school_grouped[school_grouped['reading_score']>=70]
#students_pass_math_school = school_data_compete.set_index['reading_score']>=70]['school_name']

total_students_pass_math = school_data_complete.loc[(school_data_complete['math_score']>=70)].count()
total_students_pass_math

Student ID       29370
student_name     29370
gender           29370
grade            29370
school_name      29370
reading_score    29370
math_score       29370
School ID        29370
type             29370
size             29370
budget           29370
dtype: int64

In [22]:
school_data_complete_index = school_data_complete.set_index(['school_name'])

In [23]:
type_name = school_data_complete_index['type']

In [24]:
#test_total_students = school_data_complete[school_data_complete['School ID'].count()]['school_name']
# test_total_students = school_data_complete['Student ID'].unique()
# test_total_students.head(20)

In [25]:
#test_school_budget = school_data_complete['budget'].mean()
test_school_budget = school_data_complete_index['budget'].unique()
test_school_budget

array([1910635, 1884411, 1056600, 3022020,  917500, 1319574, 1081356,
       3124928,  248087,  585858, 1049400, 2547363, 3094650, 1763916,
       1043130], dtype=int64)

In [26]:
students_school = school_data_complete['school_name'].value_counts()
students_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [27]:
# test_summary = pd.DataFrame({'School Name':test_name, 'Type': type_name,})
test_summary = pd.DataFrame({"Type": type_name, "Total Students": students_school})
test_summary

ValueError: cannot reindex from a duplicate axis

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type