### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(25)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635

In [2]:
school_data_complete = school_data_complete.copy()

In [3]:
#number of schools
number_of_schools = len(school_data_complete['school_name'].unique())
number_of_schools

15

In [4]:
#total number of students
total_number_of_students = school_data_complete['student_name'].count()
#39170

In [5]:
#Total Budget
total_district_budget = school_data['budget'].sum()
#24649428

In [6]:
#Average Math Score
average_district_math_score = school_data_complete['math_score'].mean()
average_district_math_score

78.98537145774827

In [7]:
#Average Reading Score
average_district_reading_score = school_data_complete['reading_score'].mean()
average_district_reading_score

81.87784018381414

In [8]:
total_students_pass_math = school_data_complete.loc[(school_data_complete['math_score']>=70)].count()["student_name"]
total_students_pass_math = total_students_pass_math

In [9]:
passing_math_percentage = total_students_pass_math/float(total_number_of_students)*100
passing_math_percentage = passing_math_percentage

In [10]:
students_pass_reading = school_data_complete[school_data_complete['reading_score']>=70].count()['student_name']

passing_reading_percentage = students_pass_reading/float(total_number_of_students)*100
passing_reading_percentage = passing_reading_percentage

In [11]:
#% passing both -> Group By Function NOPE -> conditional AND df['A'] & df[B] 
students_pass_math_reading = school_data_complete[(school_data_complete['math_score']>=70) & (school_data_complete['reading_score']>=70)].count()['student_name']
#25528
passing_math_reading_percentage = students_pass_math_reading/float(total_number_of_students)*100
passing_math_reading_percentage = passing_math_reading_percentage

In [12]:
district_summary_df = pd.DataFrame({'Total Schools': number_of_schools, 'Total Students':[total_number_of_students],
                                          'Total Budget':[total_district_budget], 'Average Math Score':[average_district_math_score],
                                           'Average Reading Score': [average_district_reading_score],'% Passing Math': passing_math_percentage,
                                             '% Passing Reading': passing_reading_percentage, '% Passing Both Math & Reading':passing_math_reading_percentage })
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Both Math & Reading
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [13]:
schools_grouped = school_data_complete.groupby(['school_name'])
schools_grouped.count()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [14]:
number_of_students_per_school = schools_grouped['Student ID'].count()
number_of_students_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [15]:
average_math_score_per_school = schools_grouped['math_score'].mean()
average_math_score_per_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [16]:
average_reading_score_per_school = schools_grouped['reading_score'].mean()
average_reading_score_per_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [17]:
school_budget = schools_grouped['budget'].mean()

In [18]:
budget_per_student_per_school = schools_grouped['budget'].mean()/schools_grouped['student_name'].count()
budget_per_student_per_school

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [19]:
stu_pass_math = school_data_complete.loc[(school_data_complete['math_score']>=70)]
stu_pass_math.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [20]:
stu_pass_math_per_school = stu_pass_math.groupby('school_name')
stu_pass_math_per_school = stu_pass_math_per_school['Student ID'].count()
perct_stu_pass_math_per_school = (stu_pass_math_per_school/number_of_students_per_school)*100
perct_stu_pass_math_per_school

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: Student ID, dtype: float64

In [21]:
stu_pass_reading = school_data_complete[school_data_complete['reading_score']>=70]
stu_pass_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [22]:
stu_pass_reading_per_school = stu_pass_reading.groupby('school_name')
stu_pass_reading_per_school = stu_pass_reading_per_school['Student ID'].count()
perct_stu_pass_reading_per_school = (stu_pass_reading_per_school/number_of_students_per_school )*100
perct_stu_pass_reading_per_school

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: Student ID, dtype: float64

In [23]:
stu_pass_math_read_per_school = school_data_complete[(school_data_complete['math_score']>=70) & (school_data_complete['reading_score']>=70)]
stu_pass_math_read_per_school = stu_pass_math_read_per_school.groupby('school_name')
stu_pass_math_read_per_school = stu_pass_math_read_per_school['Student ID'].count()
perct_stu_pass_math_read_per_school = (stu_pass_math_read_per_school / number_of_students_per_school) * 100
perct_stu_pass_math_read_per_school

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: Student ID, dtype: float64

In [24]:
type_school = schools_grouped['type'].unique()
type_school = type_school.explode()
type_school

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [120]:
school_summary_df = pd.DataFrame({'Type': type_school, 'Total Students':number_of_students_per_school,
                                 'Total School Budget':school_budget, 
                                  'Per Student Budget': budget_per_student_per_school,
                                 'Average Math Score': average_math_score_per_school, 
                                    'Average Reading Score': average_reading_score_per_school,
                                 '% Passing Math': perct_stu_pass_math_per_school, 
                                  '% Passing Reading': perct_stu_pass_reading_per_school,
                                 '% Overall Passing': perct_stu_pass_math_read_per_school})
school_summary_df.reset_index(inplace=True)
school_summary_df

,school_name,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
1,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
2,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
3,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
5,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
6,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
7,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
8,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
10,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
11,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
12,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
13,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
14,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [121]:
school_summary_df.sort_values(by=['% Overall Passing'], ascending=False).head(5)

,school_name,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
1,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
12,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
13,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [70]:
school_summary_df.sort_values(by=['% Overall Passing']).head(5)

,school_name,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
10,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
2,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
7,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
5,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
8,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [28]:
school_data_complete.head(1)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635

In [29]:
grade_nineth_math = school_data_complete[(school_data_complete['grade'] == '9th')]
nineth_grade_math_grouped = grade_nineth_math.groupby(['school_name']) 
nineth_grade_math_grouped['math_score'].mean()

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [30]:
grade_tenth_math = school_data_complete[(school_data_complete['grade'] == '10th')]
tenth_grade_math_grouped = grade_tenth_math.groupby(['school_name']) 
tenth_grade_math_grouped['math_score'].mean()

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [31]:
grade_elve_math = school_data_complete[(school_data_complete['grade'] == '11th')]
elve_grade_math_grouped = grade_elve_math.groupby(['school_name']) 
elve_grade_math_grouped['math_score'].mean()

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [32]:
grade_twelv_math = school_data_complete[(school_data_complete['grade'] == '12th')]
twelv_grade_math_grouped = grade_twelv_math.groupby(['school_name']) 
twelv_grade_math_grouped['math_score'].mean()

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [33]:
math_score_per_grade_df = pd.DataFrame({'9th Grade Ave Math Score':nineth_grade_math_grouped['math_score'].mean(),
                           '10th Grade Ave Math Score':tenth_grade_math_grouped['math_score'].mean(),
                           '11th Grade Ave Math Score':elve_grade_math_grouped['math_score'].mean(),
                           '12th Grade Ave Math Score':twelv_grade_math_grouped['math_score'].mean()})
math_score_per_grade_df.reset_index(inplace=True)
math_score_per_grade_df

,school_name,9th Grade Ave Math Score,10th Grade Ave Math Score,11th Grade Ave Math Score,12th Grade Ave Math Score
0,Bailey High School,77.083676,76.996772,77.515588,76.492218
1,Cabrera High School,83.094697,83.154506,82.765560,83.277487
2,Figueroa High School,76.403037,76.539974,76.884344,77.151369
3,Ford High School,77.361345,77.672316,76.918058,76.179963
4,Griffin High School,82.044010,84.229064,83.842105,83.356164
5,Hernandez High School,77.438495,77.337408,77.136029,77.186567
6,Holden High School,83.787402,83.429825,85.000000,82.855422
7,Huang High School,77.027251,75.908735,76.446602,77.225641
8,Johnson High School,77.187857,76.691117,77.491653,76.863248
9,Pena High School,83.625455,83.372000,84.328125,84.121547
10,Rodriguez High School,76.859966,76.612500,76.395626,77.690748
11,Shelton High School,83.420755,82.917411,83.383495,83.778976
12,Thomas High School,83.590022,83.087886,83.498795,83.497041
13,Wilson High School,83.085578,83.724422,83.195326,83.035794
14,Wright High School,83.264706,84.010288,83.836782,83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [34]:
nineth_grade = school_data_complete[(school_data_complete['grade'] == '9th')]
nineth_grade_read_grouped = nineth_grade.groupby(['school_name']) 
nineth_grade_read_grouped['reading_score'].mean()

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [35]:
grade_tenth = school_data_complete[(school_data_complete['grade'] == '10th')]
tenth_grade_read_grouped = grade_tenth.groupby(['school_name']) 
tenth_grade_read_grouped['reading_score'].mean()

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [36]:
grade_elveth = school_data_complete[(school_data_complete['grade'] == '11th')]
elveth_grade_read_grouped = grade_elveth.groupby(['school_name']) 
elveth_grade_read_grouped['reading_score'].mean()

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [37]:
grade_twelth = school_data_complete[(school_data_complete['grade'] == '12th')]
twelth_grade_read_grouped = grade_twelth.groupby(['school_name']) 
twelth_grade_read_grouped['reading_score'].mean()

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [38]:
read_score_per_grade_df = pd.DataFrame({'9th Grade Ave Reading Score':nineth_grade_read_grouped['reading_score'].mean(),
                           '10th Grade Ave Reading Score':tenth_grade_read_grouped['reading_score'].mean(),
                           '11th Grade Ave Reading Score':elveth_grade_read_grouped['reading_score'].mean(),
                           '12th Grade Ave Reading Score':twelth_grade_read_grouped['reading_score'].mean()})
read_score_per_grade_df.reset_index(inplace=True)
read_score_per_grade_df

,school_name,9th Grade Ave Reading Score,10th Grade Ave Reading Score,11th Grade Ave Reading Score,12th Grade Ave Reading Score
0,Bailey High School,81.303155,80.907183,80.945643,80.912451
1,Cabrera High School,83.676136,84.253219,83.788382,84.287958
2,Figueroa High School,81.198598,81.408912,80.640339,81.384863
3,Ford High School,80.632653,81.262712,80.403642,80.662338
4,Griffin High School,83.369193,83.706897,84.288089,84.013699
5,Hernandez High School,80.866860,80.660147,81.396140,80.857143
6,Holden High School,83.677165,83.324561,83.815534,84.698795
7,Huang High School,81.290284,81.512386,81.417476,80.305983
8,Johnson High School,81.260714,80.773431,80.616027,81.227564
9,Pena High School,83.807273,83.612000,84.335938,84.591160
10,Rodriguez High School,80.993127,80.629808,80.864811,80.376426
11,Shelton High School,84.122642,83.441964,84.373786,82.781671
12,Thomas High School,83.728850,84.254157,83.585542,83.831361
13,Wilson High School,83.939778,84.021452,83.764608,84.317673
14,Wright High School,83.833333,83.812757,84.156322,84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [60]:
school_bins = pd.DataFrame({'Per Student Budget': budget_per_student_per_school,
                            'Average Math Score': average_math_score_per_school, 
                            'Average Reading Score': average_reading_score_per_school,
                            '% Passing Math': perct_stu_pass_math_per_school,
                            '% Passing Reading': perct_stu_pass_reading_per_school,
                            '% Overall Passing': perct_stu_pass_math_read_per_school})
school_bins.sort_values(by=['Per Student Budget'])
school_bins.reset_index()

,school_name,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Bailey High School,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
1,Cabrera High School,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
2,Figueroa High School,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
3,Ford High School,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
4,Griffin High School,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
5,Hernandez High School,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
6,Holden High School,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
7,Huang High School,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
8,Johnson High School,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
9,Pena High School,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
10,Rodriguez High School,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
11,Shelton High School,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
12,Thomas High School,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
13,Wilson High School,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
14,Wright High School,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [122]:
#creating bins for student spending budgets

bins = [0, 584, 629, 645, 675]
labels = ['< $584' , '$585-629', '$630-644', '$645-675' ]

In [123]:
pd.cut(school_bins['Per Student Budget'], bins, labels=labels).head()

school_name
Bailey High School      $585-629
Cabrera High School       < $584
Figueroa High School    $630-644
Ford High School        $630-644
Griffin High School     $585-629
Name: Per Student Budget, dtype: category
Categories (4, object): [< $584 < $585-629 < $630-644 < $645-675]

In [125]:
# Place the data series into a new column inside of the DataFrame
school_bins["Student Budget Range"] = pd.cut(school_bins['Per Student Budget'], bins, labels=labels)
school_bins.drop('Per Student Budget', axis=1,inplace=True)
school_bins.reset_index()

,school_name,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Student Budget Range
0,Bailey High School,77.048432,81.033963,66.680064,81.933280,54.642283,$585-629
1,Cabrera High School,83.061895,83.975780,94.133477,97.039828,91.334769,< $584
2,Figueroa High School,76.711767,81.158020,65.988471,80.739234,53.204476,$630-644
3,Ford High School,77.102592,80.746258,68.309602,79.299014,54.289887,$630-644
4,Griffin High School,83.351499,83.816757,93.392371,97.138965,90.599455,$585-629
5,Hernandez High School,77.289752,80.934412,66.752967,80.862999,53.527508,$645-675
6,Holden High School,83.803279,83.814988,92.505855,96.252927,89.227166,< $584
7,Huang High School,76.629414,81.182722,65.683922,81.316421,53.513884,$645-675
8,Johnson High School,77.072464,80.966394,66.057551,81.222432,53.539172,$645-675
9,Pena High School,83.839917,84.044699,94.594595,95.945946,90.540541,$585-629
10,Rodriguez High School,76.842711,80.744686,66.366592,80.220055,52.988247,$630-644
11,Shelton High School,83.359455,83.725724,93.867121,95.854628,89.892107,$585-629
12,Thomas High School,83.418349,83.848930,93.272171,97.308869,90.948012,$630-644
13,Wilson High School,83.274201,83.989488,93.867718,96.539641,90.582567,< $584
14,Wright High School,83.682222,83.955000,93.333333,96.611111,90.333333,< $584

In [126]:
#[['Per Student Budget','Average Math Score', 'Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing']].
school_bins_grouped = school_bins.groupby('Student Budget Range')
school_bins_grouped.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Student Budget Range,,,,,
< $584,83.455399,83.933814,93.460096,96.610877,90.369459
$585-629,81.899826,83.155286,87.133538,92.718205,81.418596
$630-644,78.518855,81.624473,73.484209,84.391793,62.857656
$645-675,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

* Perform the same operations as above, based on school size.

In [96]:
school_summary_df.sort_values(by=['Total Students'])
school_bin_stu_pop = pd.DataFrame({'Total Students': number_of_students_per_school,
                            'Average Math Score': average_math_score_per_school, 
                            'Average Reading Score': average_reading_score_per_school,
                            '% Passing Math': perct_stu_pass_math_per_school,
                            '% Passing Reading': perct_stu_pass_reading_per_school,
                            '% Overall Passing': perct_stu_pass_math_read_per_school})
school_bin_stu_pop

,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,
Bailey High School,4976,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,1858,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,2949,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,2739,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,1468,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,4635,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,427,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,2917,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,4761,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,962,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,3999,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,1761,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,1635,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,2283,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,1800,83.682222,83.955000,93.333333,96.611111,90.333333

In [127]:
#creating bins for student population

bins = [0, 999, 1999, 5000]
labels = ['Small (<1000)' , 'Medium (1000-2000)', ' Large (2000-5000) ']

In [128]:
school_bin_stu_pop["Student Population"] = pd.cut(school_bin_stu_pop['Total Students'], bins, labels=labels)

In [129]:
school_bin_stu_pop.reset_index()

,school_name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Student Population
0,Bailey High School,4976,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
1,Cabrera High School,1858,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
2,Figueroa High School,2949,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
3,Ford High School,2739,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
4,Griffin High School,1468,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
5,Hernandez High School,4635,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
6,Holden High School,427,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
7,Huang High School,2917,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
8,Johnson High School,4761,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
9,Pena High School,962,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
10,Rodriguez High School,3999,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
11,Shelton High School,1761,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
12,Thomas High School,1635,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
13,Wilson High School,2283,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
14,Wright High School,1800,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [130]:
#Groupby Student Popultion & their Average scores,
school_stu_size = school_bin_stu_pop.groupby("Student Population").mean()
#Drop Average Student population
school_stu_size.drop('Total Students',axis=1,inplace=True)
#Reset Index and show
school_stu_size = school_stu_size.reset_index()
school_stu_size

,Student Population,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
1,Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
2,Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

In [142]:
school_types_grouped = pd.DataFrame({'School Type': type_school,'Average Math Score': average_math_score_per_school, 
                                    'Average Reading Score': average_reading_score_per_school,
                                 '% Passing Math': perct_stu_pass_math_per_school, 
                                  '% Passing Reading': perct_stu_pass_reading_per_school,
                                 '% Overall Passing': perct_stu_pass_math_read_per_school})
school_types_grouped.reset_index(inplace=True)
school_types_grouped.drop('school_name', axis=1,inplace=True)
school_types_grouped = school_types_grouped.groupby('School Type').mean()
school_types_grouped

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results